In [1]:
import glob

mydir = "C:\\Users\\junin\\Downloads\\Bored\getImage\\"

file_list = glob.glob(mydir + "/*.csv")
import pandas as pd
## Importing Necessary Modules
import requests # to get image from the web
import shutil # to save it locally

In [2]:
file_list

['C:\\Users\\junin\\Downloads\\Bored\\getImage\\sucess.csv',
 'C:\\Users\\junin\\Downloads\\Bored\\getImage\\_expect9856.csv']

In [3]:
lista_df = []
for i in file_list:
    df = pd.read_csv(i,header = None)
    lista_df.append(df)

In [4]:
df_new = pd.concat(lista_df, axis=0)

In [5]:
df_new.columns=["id", "link"]

In [6]:
df_new

       id                                               link
0       0  https://lh3.googleusercontent.com/mPpOei8345NW...
1       1  https://lh3.googleusercontent.com/9WkSu8CP7gZj...
2       2  https://lh3.googleusercontent.com/m1aEl7dGOjJ5...
3       3  https://lh3.googleusercontent.com/l3FDHfAh66oG...
4       4  https://lh3.googleusercontent.com/lCQ3OZF_3JuM...
..    ...                                                ...
194  9804  https://lh3.googleusercontent.com/P7ukEuRIvC4f...
195  9803  https://lh3.googleusercontent.com/HV_uVUJzDzKB...
196  9802  https://lh3.googleusercontent.com/_3Od5BG9sUmP...
197  9801  https://lh3.googleusercontent.com/SA6GggQg0DRt...
198  9800  https://lh3.googleusercontent.com/2H5bR41J_XCJ...

[9981 rows x 2 columns]

In [7]:
df_new.drop_duplicates(subset=['link'], keep=False)

       id                                               link
0       0  https://lh3.googleusercontent.com/mPpOei8345NW...
1       1  https://lh3.googleusercontent.com/9WkSu8CP7gZj...
2       2  https://lh3.googleusercontent.com/m1aEl7dGOjJ5...
3       3  https://lh3.googleusercontent.com/l3FDHfAh66oG...
4       4  https://lh3.googleusercontent.com/lCQ3OZF_3JuM...
..    ...                                                ...
194  9804  https://lh3.googleusercontent.com/P7ukEuRIvC4f...
195  9803  https://lh3.googleusercontent.com/HV_uVUJzDzKB...
196  9802  https://lh3.googleusercontent.com/_3Od5BG9sUmP...
197  9801  https://lh3.googleusercontent.com/SA6GggQg0DRt...
198  9800  https://lh3.googleusercontent.com/2H5bR41J_XCJ...

[9972 rows x 2 columns]

In [8]:
list_image_error = []

In [ ]:
for index, row in df_new.iterrows():
    image_url = row['link']
    name = row['id']
    
    try:
        img_data = requests.get(image_url).content
        with open(f'E:/Bored/ImagensBored/{name}.png', 'wb') as handler:
            handler.write(img_data)
    except:
        list_image_error.append(name)
        pass